// @import 'config/variables';
@import 'config/function';
@import 'config/breakpoints';
@import 'config/base';

.text-center {
    font-size   : 24px;
    font-weight : 600;
    grid-column git commi: span 4;
}

.container {
    gap                   : 8px;
    display               : grid;
    grid-template-columns : repeat(4, 1fr);
}