- let PageName    = ''
- let url         = 'http://dominio.com'
- let seo         = 'img/seo/.jpg'
- let SeoImg      = 'http://dominio.com/img/seo/.jpg'
- let category    = 'Diseño web, Sass, Pug, Prepros'
- let keywords    = ''
- let description = ''


- let facebook      = '@'
- let twitter       = '@'
- let FBdescription = ''
- let TWdescription = ''


- let image = ''