extends layout/template/corporative

block meta
    include layout/config/meta

append meta
    - PageTitle  = 'Título de la página'
    - StyleSheet = 'index'

block content
    section.container
        