extends layout/template/corporative

block meta
    include layout/config/meta

append meta
    - PageTitle  = 'Título de la página'
    - StyleSheet = 'index'

block content
    section.container
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://erotismosexual.com/wp-content/uploads/2019/02/kendra-lust.jpg" alt="" srcset="")
            .card-body
                h1.card-title Nombre de la actriz
                p.card-text Descripción breve y sensual de la tarjeta de presentación de catálogo
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Link