extends layout/template/corporative

block meta
    include layout/config/meta

append meta
    - PageTitle  = 'Título de la página'
    - StyleSheet = 'index'

block content
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    section.container   
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://cdni.pornpics.com/1280/5/201/75758265/75758265_001_a654.jpg" alt="" srcset="")
            .card-body
                h1.card-title Kendra Lust
                p.card-text Presentación de su nueva línea de lencería para que demuestres tu lado más candente y sensual
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Adquierela aquí
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://i.pinimg.com/originals/20/c4/98/20c498f4684765ab090137c9fc6cabc3.jpg" alt="" srcset="")
            .card-body
                h1.card-title Kendra Lust
                p.card-text Presentación de su nueva línea de lencería para que demuestres tu lado más candente y sensual
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Adquierela aquí
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://i.pinimg.com/originals/95/94/a9/9594a9074b80160c8ecf730bb09ad822.jpg" alt="" srcset="")
            .card-body
                h1.card-title Kendra Lust
                p.card-text Presentación de su nueva línea de lencería para que demuestres tu lado más candente y sensual
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Adquierela aquí
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://i.pinimg.com/originals/b5/9f/18/b59f18cd75289412ee524176e4f8783a.jpg" alt="" srcset="")
            .card-body
                h1.card-title Kendra Lust
                p.card-text Presentación de su nueva línea de lencería para que demuestres tu lado más candente y sensual
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Adquierela aquí
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://www.mypornstarbook.net/pornstars/b/brandi_love/gallery136/images/02.jpg" alt="" srcset="")
            .card-body
                h1.card-title Kendra Lust
                p.card-text Presentación de su nueva línea de lencería para que demuestres tu lado más candente y sensual
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Adquierela aquí
        article(class="card" style="width: 18rem")
            img(class="card-img-top" src="https://i.pinimg.com/564x/07/eb/8a/07eb8aeffcda6e5e9a3f37d0ab8b1b9d.jpg" alt="" srcset="")
            .card-body
                h1.card-title Kendra Lust
                p.card-text Presentación de su nueva línea de lencería para que demuestres tu lado más candente y sensual
                a(href="" target="_blank" class="btn btn-primary")
                    i(class="bi bi-cart-check-fill")
                    | Adquierela aquí
